{% comment %}
  Renders a product media gallery. Should be used with 'media-gallery.js'
  Also see 'product-media-modal'

  Accepts:
  - product: {Object} Product liquid object
  - variant_images: {Array} Product images associated with a variant
  - limit: {Number} (optional) When passed, limits the number of media items to render

  Usage:
  {% render 'product-media-gallery' %}
{% endcomment %}

{%- liquid
  if section.settings.hide_variants and variant_images.size == product.media.size
    assign single_media_visible = true
  endif

  if limit == 1
    assign single_media_visible = true
  endif

  assign media_count = product.media.size
  if section.settings.hide_variants and media_count > 1 and variant_images.size > 0
    assign media_count = media_count | minus: variant_images.size | plus: 1
  endif

  if media_count == 1 or single_media_visible
    assign single_media_visible_mobile = true
  endif

  if media_count == 0 or single_media_visible_mobile or section.settings.mobile_thumbnails == 'show' or section.settings.mobile_thumbnails == 'columns' and media_count < 3
    assign hide_mobile_slider = true
  endif

  if section.settings.media_size == 'large'
    assign media_width = 0.65
  elsif section.settings.media_size == 'medium'
    assign media_width = 0.55
  elsif section.settings.media_size == 'small'
    assign media_width = 0.45
  endif
-%}

<div
  id="MediaGallery-{{ section.id }}"
  role="region"
  {% if section.settings.enable_sticky_info %}
    class="product__column-sticky"
  {% endif %}
  aria-label="{{ 'products.product.media.gallery_viewer' | t }}"
  data-desktop-layout="{{ section.settings.gallery_layout }}"
>
  <div class="product__column-wrapper">
    <div class="swiper-container product-slider__slides swiper-container--{{ section.id }}">
      <ul
        id="Slider-Gallery-{{ section.id }}"
        class="swiper-wrapper product-slider__swiper-wrapper"
        role="list"
      >
        {%- if product.selected_or_first_available_variant.featured_media != null -%}
          {%- assign featured_media = product.selected_or_first_available_variant.featured_media -%}
          <li
            id="Slide-{{ section.id }}-{{ featured_media.id }}"
            class="swiper-slide"
            data-media-id="{{ section.id }}-{{ featured_media.id }}"
          >
            {%- assign media_position = 1 -%}
            {% render 'product-thumbnail',
              media: featured_media,
              media_count: media_count,
              position: media_position,
              desktop_layout: section.settings.gallery_layout,
              mobile_layout: section.settings.mobile_thumbnails,
              loop: section.settings.enable_video_looping,
              modal_id: section.id,
              xr_button: true,
              media_width: media_width,
              media_fit: section.settings.media_fit,
              constrain_to_viewport: section.settings.constrain_to_viewport,
              lazy_load: false
            %}
          </li>
        {%- endif -%}
        {%- for media in product.media -%}
          {% if media_position >= limit
            or media_position >= 1
            and section.settings.hide_variants
            and variant_images contains media.src
          %}
            {% continue %}
          {% endif %}

          {%- unless media.id == product.selected_or_first_available_variant.featured_media.id -%}
            <li
              id="Slide-{{ section.id }}-{{ media.id }}"
              class="swiper-slide"
              data-media-id="{{ section.id }}-{{ media.id }}"
            >
              {%- liquid
                assign media_position = media_position | default: 0 | plus: 1
                assign lazy_load = false
                if media_position > 1
                  assign lazy_load = true
                endif
              -%}
              {% render 'product-thumbnail',
                media: media,
                media_count: media_count,
                position: media_position,
                desktop_layout: section.settings.gallery_layout,
                mobile_layout: section.settings.mobile_thumbnails,
                loop: section.settings.enable_video_looping,
                modal_id: section.id,
                xr_button: true,
                media_width: media_width,
                media_fit: section.settings.media_fit,
                constrain_to_viewport: section.settings.constrain_to_viewport,
                lazy_load: lazy_load
              %}
            </li>
          {%- endunless -%}
        {%- endfor -%}
      </ul>
      <!-- Custom Navigation Buttons -->
      <div class="product-slider__btn product-slider__btn-prev">
        {{- 'icon-arrow-prev.svg' | inline_asset_content -}}
      </div>
      <div class="product-slider__btn product-slider__btn-next">
        {{- 'icon-arrow.svg' | inline_asset_content -}}
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const swiper = new Swiper('.swiper-container--{{ section.id }}', {
      slidesPerView: 1,
      spaceBetween: 0,
      effect: 'fade', // Enable fade effect
      fadeEffect: {
        crossFade: true, // Smooth transition between slides
      },
      navigation: {
        nextEl: '.product-slider__btn-next',
        prevEl: '.product-slider__btn-prev',
      },
      loop: true,
      //   autoplay: {
      //     delay: 10000,
      //     disableOnInteraction: false,
      //   },
    });
  });
</script>
