{{ 'component-image-with-text.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

{%- liquid
  assign fetch_priority = 'auto'
  if section.index == 1
    assign fetch_priority = 'high'
  endif
-%}

<div class="image-with-text color-{{ section.settings.section_color_scheme }}">
  <div
    class="image-with-text__media"
    {% if section.settings.height == 'adapt' and section.settings.image != blank %}
      style="padding-bottom: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}%;"
    {% endif %}
  >
    {% comment %}
      Responsive image handling for mobile and desktop.
    {% endcomment %}
    {% if section.settings.image_mobile != blank %}
      {%- capture mobile_image_url -%}
      {{ section.settings.image_mobile | image_url: width: 3840 }}
    {%- endcapture -%}
    {% endif %}

    {%- capture desktop_image_url -%}
    {{ section.settings.image | image_url: width: 3840 }}
  {%- endcapture -%}

    {% comment %}
      Use a responsive <picture> element to handle mobile and desktop images gracefully.
    {% endcomment %}
    <picture>
      {%- if section.settings.image_mobile != blank -%}
        <source
          srcset="{{ mobile_image_url }}"
          media="(max-width: 749px)"
        >
      {%- endif -%}
      <img
        src="{{ desktop_image_url }}"
        alt="{{ section.settings.image.alt | escape }}"
        class="image-with-text__media-img"
        width="{{ section.settings.image.width }}"
        height="{{ section.settings.image.width | divided_by: section.settings.image.aspect_ratio }}"
        fetchpriority="{{ fetch_priority }}"
      >
    </picture>
  </div>

  <div class="page-width image-with-text__content section-{{ section.id }}-padding">
    <div class="image-with-text__text-item">
      {% if section.settings.show_line %}
        <div class="image-with-text__line"></div>
      {% endif %}
      {% render 'heading',
        title: section.settings.title,
        title_size: section.settings.title_size,
        description: section.settings.description,
        max_width: section.settings.max_width_heading,
        heading_align: section.settings.heading_alignment
      -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.image-with-text.name",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "show_line",
      "label": "Show Line",
      "default": true
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.image-with-text.settings.image.label"
    },
    {
      "type": "image_picker",
      "id": "image_mobile",
      "label": "Image Modile"
    },
    {
      "type": "color_scheme",
      "id": "section_color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.multirow.settings.container_color_scheme.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "Heading"
    },
    {
      "type": "range",
      "id": "max_width_heading",
      "min": 10,
      "max": 100,
      "unit": "rem",
      "default": 50,
      "step": 2,
      "label": "Max Width Heading"
    },
    {
      "type": "select",
      "id": "heading_alignment",
      "label": "t:sections.collapsible_content.settings.heading_alignment.label",
      "options": [
        {
          "value": "left",
          "label": "t:sections.collapsible_content.settings.heading_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.collapsible_content.settings.heading_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.collapsible_content.settings.heading_alignment.options__3.label"
        }
      ],
      "default": "center"
    },
    {
      "type": "text",
      "id": "title",
      "default": "Default Title",
      "label": "Title"
    },
    {
      "type": "select",
      "id": "title_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        },
        {
          "value": "hxl",
          "label": "t:sections.all.heading_size.options__4.label"
        },
        {
          "value": "hxxl",
          "label": "t:sections.all.heading_size.options__5.label"
        },
        {
          "value": "hxxxl",
          "label": "HXXXL"
        },
        {
          "value": "hxxxxl",
          "label": "HXXXXL"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "text",
      "id": "description",
      "default": "Default Description",
      "label": "Description"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],

  "presets": [
    {
      "name": "t:sections.image-with-text.presets.name"
    }
  ]
}
{% endschema %}
