{{ 'section-testimonials-1.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  .section-{{ section.id }}-padding .testimonials__content{
    grid-template-columns: repeat({{  section.settings.items_per_row_mobile }}, minmax(0, 1fr));
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }

    .section-{{ section.id }}-padding .testimonials__content{
    grid-template-columns: repeat({{  section.settings.items_per_row }}, minmax(0, 1fr));
  }
  }
{%- endstyle -%}
{%- liquid
  assign fetch_priority = 'auto'
  if section.index == 1
    assign fetch_priority = 'high'
  endif
-%}

<div class="testimonials-1 color-{{ section.settings.section_color_scheme }} section-{{ section.id }}-padding">
  <div
    class="testimonials-1__media"
    {% if section.settings.height == 'adapt' and section.settings.image != blank %}
      style="padding-bottom: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}%;"
    {% endif %}
  >
    {% comment %}
      Responsive image handling for mobile and desktop.
    {% endcomment %}
    {% if section.settings.image_mobile != blank %}
      {%- capture mobile_image_url -%}
  {{ section.settings.image_mobile | image_url: width: 3840 }}
{%- endcapture -%}
    {% endif %}

    {%- capture desktop_image_url -%}
{{ section.settings.image | image_url: width: 3840 }}
{%- endcapture -%}

    {% comment %}
      Use a responsive <picture> element to handle mobile and desktop images gracefully.
    {% endcomment %}
    <img
      src="{{ desktop_image_url }}"
      alt="{{ section.settings.image.alt | escape }}"
      class="testimonials-1__media-img {% if section.settings.image_mobile != blank %}testimonials-1__media-img--desktop {% endif %}"
      width="{{ section.settings.image.width }}"
      height="auto"
      fetchpriority="{{ fetch_priority }}"
    >
    {% if section.settings.image_mobile != blank %}
      <img
        src="{{ mobile_image_url }}"
        alt="{{ section.settings.image.alt | escape }}"
        class="testimonials-1__media-img testimonials-1__media-img--mobile"
        width="{{ section.settings.image_mobile.width }}"
        height="auto"
        fetchpriority="{{ fetch_priority }}"
      >
    {% endif %}
  </div>

  <div class="testimonials__content-heading  page-width">
    <h2 class="title">{{ section.settings.title }}</h2>
  </div>

  <div class="testimonials__content page-width">
    {% for block in section.blocks %}
      {% case block.type %}
        {% when 'testimonial' -%}
          <div class="testimonials__item">
            <div class="testimonials__item-image">
              <img
                src="{{ block.settings.image | image_url: width: 74  }}"
                alt="{{ block.settings.name }}"
                width="auto"
                height="auto"
              >
            </div>
            <div class="testimonials__item-content">
              {{ block.settings.name }}
            </div>
          </div>
      {% endcase %}
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Testimonials 1",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "blocks": [
    {
      "type": "testimonial",
      "name": "testimonial",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "name",
          "label": "Title"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image Desktop"
    },
    {
      "type": "image_picker",
      "id": "image_mobile",
      "label": "Image Mobile"
    },
    {
      "type": "color_scheme",
      "id": "section_color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "Heading"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Title"
    },
    {
      "type": "select",
      "id": "items_per_row",
      "options": [
        {
          "value": "2",
          "label": "2"
        },
        {
          "value": "3",
          "label": "3"
        },
        {
          "value": "4",
          "label": "4"
        }
      ],
      "default": "3",
      "label": "Items per row desktop"
    },
    {
      "type": "select",
      "id": "items_per_row_mobile",
      "options": [
        {
          "value": "1",
          "label": "1"
        },
        {
          "value": "2",
          "label": "2"
        }
      ],
      "default": "2",
      "label": "Items per row mobile"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 10,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 100
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 10,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 100
    }
  ],

  "presets": [
    {
      "name": "Testimonials 1"
    }
  ]
}
{% endschema %}
